////////////////////
//LITTLE SNIPPETS //
////////////////////

/* Included color classes.. 
	.red 
	.blue 
	.green
	.orange
	.navy 
*/
/* Icon set - http://ionicons.com/ */
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1165 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 100%; //////////
  width: 100%;
  background: #000000;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1165 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1165 img {
  max-width: 100%;
  vertical-align: top;
  cursor: pointer; //////////
}

figure.snip1165 figcaption {
  position: relative;
  background-color: #ffffff;
  padding: 20px 25px 50px;
}
figure.snip1165 h3 {
  position: absolute;
  bottom: 100%;
  text-transform: uppercase;
  padding: 0; ///////////
  border-radius: 0 5px 0 0;
  margin: 0;
  left: 0;
  font-weight: 400;
  background-color: #000000;
  color: #ffffff;
}
figure.snip1165 h3 span {
  font-weight: 800;
}
figure.snip1165 p {
  font-size: 1em; //////////
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
}
figure.snip1165 .icons {
  position: absolute;
  bottom: 0;
  right: 25px;
}
figure.snip1165 i {
  margin: 0 2px;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}
figure.snip1165 i:hover {
  background-color: #000000;
  color: white !important;
}

/////////////
figure.snip1165>a {
    opacity: 0.95;
  display: block;
    }
//////////////////
figure.snip1165 a:hover {
  opacity: 1;
}
figure.snip1165.blue {
  background-color: #2472a4;
}
figure.snip1165.blue figcaption:after,
figure.snip1165.blue h3,
figure.snip1165.blue i {
  background-color: #2472a4;
}
figure.snip1165.red {
  background-color: #ab3326;
}
figure.snip1165.red figcaption:after,
figure.snip1165.red h3,
figure.snip1165.red i {
  background-color: #ab3326;
}
figure.snip1165.green {
  background-color: #229955;
}
figure.snip1165.green figcaption:after,
figure.snip1165.green h3,
figure.snip1165.green i {
  background-color: #229955;
}
figure.snip1165.orange {
  background-color: #d67118;
}
figure.snip1165.orange figcaption:after,
figure.snip1165.orange h3,
figure.snip1165.orange i {
  background-color: #d67118;
}
figure.snip1165.navy {
  background-color: #2b3c4e;
}
figure.snip1165.navy figcaption:after,
figure.snip1165.navy h3,
figure.snip1165.navy i {
  background-color: #2b3c4e;
}
figure.snip1165:hover img,
figure.snip1165.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

////////////////////////


////////////
//MY CODE //
////////////

///////////////
//NAVIGATION //
///////////////

nav {
  font-family: sans-serif;
}
.navbar{
  margin: 0;
}

.navbar-right {
	margin-right: 0;
}

//:not(.in):not(.collapsing) are for prevent padding on mobile
.navbar-fixed-top :not(.in):not(.collapsing) .navbar-right {
  padding-right: 120px;
}

section {
  padding-bottom: 50px;
}

body {
  padding-top: 50px;
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/az_subtle.png");
}


//////////////////////
//PORTFOLIO SECTION //
//////////////////////

#portfolio {
	background-color: #FFF;
	padding: 2em;
}

.portfolio-header {
    font-family: sans-serif;
    font-size: 5em;
    font-size: 10vmin;
    text-align: center;
}
.sub-title {
    font-size: 3em;
    font-variant: small-caps;
}
.row {
	padding: 2% 0;
}
#portfolio .row:nth-child(odd) {
    background-color: #eee;
}

  .thumbnail
  {
    cursor: pointer;
    position: relative;
    border: solid 3px #bdc3c7;
    background-color: #bdc3c7;
    text-align: center;
    overflow: hidden;
    transform: scale(1.0);
    &:hover .caption  {
      top: 30%;
    }

  }

  .caption
  {
    transition: ease .4s;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    top: 30em;
    color: white;
    h4,p{
      color: white;
    }
    @media screen and (max-width: 768px) {
		position: relative;
	    top: 0;

    }
  }

#microservices {
  padding-top: 120px;
  padding-bottom: 120px;
}

////////////////////
//CONTACT SECTION //
////////////////////

#contact {
	    background-color: #FAFAFA;
}

  .btn-group .btn
  {
    text: black;
    display:inline-block;
    border: 0;
    position: relative;
    // transition: all 200ms ease-in;

  }
  .btn-group .btn:hover
  {
    background-color: #e67e22;
    color: white;
    z-index: 2;
  }

////////////
//FOOTER  //
////////////

   .panel-footer {
    background-color: #FFF-;
    padding-top:10px;
    margin:0px;
    border: 0;
    border-radius: 0;
  }

//////////////////////

/////////////////////////
//LITTLE SNIPPETS EDIT //
/////////////////////////

figure.snip1165 {
	max-width: 100%;
}
figure.snip1165 h3{
	padding: 0;
}
figure.snip1165 p {
	font-size: 1em;
}
figure.snip1165 img{
	cursor: pointer;
}

figure.snip1165>a {
    opacity: 0.95;
	display: block;
    }